body{
	margin: 0;
	/* from CSS3 Patterns Gallery (leaverou.github.io)*/
	/*background:
	linear-gradient(135deg, #a19d9d 21px, #b5b1b1 22px, #b5b1b1 24px, transparent 24px, transparent 67px, #b5b1b1 67px, #b5b1b1 69px, transparent 69px),
	linear-gradient(225deg, #a19d9d 21px, #b5b1b1 22px, #b5b1b1 24px, transparent 24px, transparent 67px, #b5b1b1 67px, #b5b1b1 69px, transparent 69px)0 64px;
	background-color:#a19d9d;
	background-size: 64px 128px;*/
	background-image: url('../img/flo_library.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000000;
}

a:link{
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	opacity: .4;
}

nav{
	background-color: transparent;
	width: 100vw;
	margin: 0;
}

section{
	clear: both;
	margin: 10pt;
	padding: 5pt;
}

h1{
	font-size: 50pt;
	color: #FFFFFF;
}

.nav{
	list-style-type: none;
	margin-top: 10pt;
	padding: 0pt;
	float: right;

}

.nav li{
	display: inline;
	float: right;
}

.nav li:first-child{
	padding-right: 20pt;
}

.nav a{
	display: block;
	padding: 8pt;
	color: #FFFFFF;
	text-align: center;
}

.nav a.currentLink{
	color: rgba(100, 100, 100, 1);
}

.shadow_text{
	text-shadow: 5pt 5pt 5pt #000000;
	margin: 0;
}

.shadow_box{
	box-shadow: 5pt 5pt 5pt #000000;
}

.details_button{
	color: #000000;
	font-size: 20pt;
}

.centered{
	text-align: center;
}

.hide{
	visibility: hidden;
}

#education{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20pt;
	grid-row-gap: 3pt;
	margin: 0;
}

#harvard{
	min-width: 370px;
}

#caltech{
	min-width: 515px;
}

#education div{
	padding: 5pt;
	background-color: rgba(255, 255, 255, .8);
	white-space: nowrap;
}

#education div div{
	background-color: transparent;
}

#education div p{
	vertical-align: middle;
}

#education div img{
	float: right;
	padding: 0;
	margin: 0;
	height: 100%;
}

#harvard_details{
	margin: 0pt 10pt 0pt 10pt;
}

#caltech_details{
	margin: 0pt 10pt 0pt 10pt;
}

.up{
	position: relative;
	top: -400px;
}

#work_body{
	background-color: rgba(255, 255, 255, .8);
}

#work_body ul{
	width: 45%;
	font-size: 16pt;
	list-style-type: none;
	text-indent: -10pt;
}

#work_body a.active_slide{
	color: #A51C30;
}

#work_body li{
	padding: 3pt 0pt 3pt 0pt;
}

#work_body em{
	color: #444444;
}

#work_body a{
	color: black;
}

#work_body p{
	width: 45%;
	font-size: 14pt;
}

.work_slide{
	float: right;
	width: 50%;
	height: 100%;
	background-color: white;
	border: solid;
	padding: 0;
}

.work_slide img{
	width: 100%;
}

.work_slide div{
	padding: 5pt;
}

.start_hidden{
	display: none;
}
