body {
	background-image: url('../img/ogive.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000000;
	margin: 0pt;
}

section {
	margin: 10pt;
	padding: 10pt;
	background-color: rgba(255, 255, 255, .8);
	color: #000000;

}

a:link{
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	opacity: .4;
}

nav{
	background-color: transparent;
	position: absolute;
	width: 100vw;
}

.nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

.nav li{
	display: inline;
	float: right;
}

.nav li:first-child{
	padding-right: 20pt;
}

.nav a{
	display: block;
	padding: 8pt;
	color: #FFFFFF;
	text-align: center;
}

.nav a.currentLink{
	color: rgba(150, 150, 150, 1);
}

#intro {
	border: 5px double white;
	margin: 10pt;
	height: 95vh;
	color: #FFFFFF;
	font-size: 300%;
	text-align: center;
	text-shadow: 5px 5px 3px #000000;

	/* to cancel section settings */
	padding: 0pt;
	background-color: transparent;

}

#name{
	height: 95vh;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
	text-align: inherit;
}

#scroll1{
	text-align: center;
	padding: 10pt;
	margin: 0pt;
	position: absolute;
    top: 85%;
    left: 45%;
    color: #FFFFFF;
    text-shadow: none;
    font-size: 20pt;
}

#scroll1 span {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 6px solid #fff;
  border-bottom: 6px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

#background{
	height: 95vh;
	overflow: auto;
}

#background h1{
	font-size: 50pt;
}

#background p{
	font-size: 20pt;
	text-indent: 50pt;
}

#background img{
	float: left;
	width: 30vw;
	margin-right: 10pt;
	vertical-align: middle;
}

#download{
	display: inline-block;
	padding: 8pt;
	margin: 20pt 0pt 20pt 0pt;
	color: #FFFFFF;
	background-color: #000000;
	text-align: center;
	font-size: 20pt;
}


